html {
    font-size: 62.5%;
  }

  body {
    line-height: 1.6;
    font-family: 'Noto Sans JP', "MyYuGothicM", "YuGothic", "-apple-system", "BlinkMacSystemFont", "Hiragino kaku Gothic ProN",
     "Meiryo", "Verdana", "arial", "helvetica", "sans-serif";
    font-size: 16px;
    font-size: 1.6rem;
    color: #121212;
    -webkit-text-size-adjust: 100%;
  }
  /* a:link {
    color: #2498b3;
    transition: 0.5s;
  } */
  /* a:visited {
    color: #2498b3;
  } */
  /* a:hover {
    color: #2498b3;
    text-decoration: none;
  } */
  /* a:focus {
    color: #2498b3;
    text-decoration: none;
  }
  a:active {
    color: #2498b3;
    text-decoration: none;
  } */

  li {
    list-style: none;
  }